.blue-line {
        background-color: #0282f9;
        height: 80px;
    }

#comic-details {

    position: relative;

    .comic-figure {
        height: 320px;
        width: 213px;
        position: absolute;
        top: -340px;
        left: 0;
        border: 1px solid white;

        .comic-img-details {
            color: white;
            background-color: #00a9d9;
            text-transform: uppercase;
            font-size: 13px;
            padding: 3px;
            position: absolute;
            left: 0;

            &.type {
                top: 0;
            } 
            &.gallery {
                bottom: 0;
                right: 0;
                text-align: center;
            } 
        }

        .comic-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        
        }
    }
}

#comic-info {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 4rem 0;
    color: #464646;

    
}

.comic-description {
    flex-grow: 0;
    

    h2{
        color: #003f5e;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .comic-info-description {
        font-weight: 600;
        line-height: 25px;
        font-size: 15px;
    }
    

    .comic-price-container{
        display: flex;
        background-color: #55ba59;
        border-bottom: 1px solid #464646;
        color: white;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 1rem;
        

        .comic-price{
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            padding: .8rem 1.5rem;
            border-right: 1px solid #464646;

            p {
                color: #9de575;
            }

            span {
                color: white;
            }

        }

        .comic-availability {
            padding: .8rem 1.5rem;
        }
    }

    
}

.ad-figure {
    flex-shrink: 0;
    width: 320px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #464646;

    img {
        margin-top: .5rem;
        width: 100%;
    }
}